asgiref==3.8.1
beautifulsoup4==4.12.3
certifi==2024.8.30
charset-normalizer==3.4.0
crispy-bootstrap4==2024.10
Django==5.1.2
django-crispy-forms==2.3
django-embed-video==1.4.10
django-environ==0.11.2
django-js-routes==0.2.0
django-password-validators==1.7.3
django-session-timeout==0.1.0
idna==3.10
psycopg2-binary==2.9.9
requests==2.32.3
six==1.16.0
soupsieve==2.6
sqlparse==0.5.1
urllib3==2.2.3
